<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 충돌이 일어나지 않기 위해 써놓는다. 똑같은걸 많이 쓰고있기 때문에  -->
<mapper namespace="com.meaningFarm.board.mapper.BoardMapper">

	<!-- 게시판 리스트- DB에서 가져와야 한다. - select -->
	<select id="list" resultType="com.meaningFarm.board.vo.BoardVO">
		select no, title, writer, writerDate, hit
		from (
			select rownum rnum, no, title, writer, writeDate, hit
			from (
				select no, title, writer, writeDate, hit
				from board
				order by no desc
			)
		)	where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 전체 데이터 개수 가져오기 - select -->
	<select id="getTotalRow" resultType="java.lang.Long">
		select count(*) from board
	</select>
	
	
</mapper>